/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_1/build/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_1/dist/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_Prob2/build/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_Prob2/dist/
/Class/Truth Table/build/
/Class/Truth Table/dist/
/Class/Savitch_9thEd_Chap2_ProgProj_Prob4/build/
/Class/Savitch_9thEd_Chap2_ProgProj_Prob4/dist/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob5/build/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob5/dist/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob6/build/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob6/dist/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob7/build/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob7/dist/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob13/build/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob13/dist/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob1/build/
/Homework/Savitch CH2 HW/Savitch_9thEd_Chap2_ProgProj_Prob1/dist/