/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_1/build/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_1/dist/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_Prob2/build/
/Homework/Savitch CH2HW/Savitch_9thEd_Chap2_ProgProj_Prob2/dist/
/Class/Truth Table/build/
/Class/Truth Table/dist/